/* Universal Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  background-color: #d5e1ef;
}

/* Component Styles */
.qr-component {
  max-width: 20rem;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 0;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

/* QR image styles */
img {
  width: 18rem;
  margin: 0;
}

img {
  border-radius: 0.625rem;
  margin-bottom: 1.5rem;
}

/* Text Styles */
.text {
  width: 18rem;
  margin: 0;
  text-align: center;
  margin: 0 1rem 2.5rem 1rem;
  padding: 0 1rem;
}

.heading {
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.desc {
  font-size: 0.938rem;
  font-weight: normal;
  line-height: 140%;
  letter-spacing: 0.013rem;
  margin: 0;
}

@media only screen and (min-width: 500px) {
  .qr-component {
    margin: 14.406rem auto;
  }
}

/* Reference Styles */

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
